<form class="d-flex" action="{{ path('app_tags') }}" method="post">
    {{ form_start(form, {'attr': {'class': 'd-flex'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control me-2'}}) }}
    <button class="btn btn-outline-success" type="submit">Ok</button>
    {{ form_end(form) }}
</form>
