{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'admin/partials/sidebar.html.twig' %}

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block admin_content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
