{% extends 'base.html.twig' %}

{% block title %}Merci pour votre commande{% endblock %}

{% block body %}
<div class="container">
    <h1>Merci pour votre commande</h1>
    <p>Nous vous remercions pour votre commande.</p>
</div>
{% endblock %}
